!!! 5
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: "stylesheet", href: "/breakpoint-style.css"}
    %title= "#{content_for?(:title) ? "#{yield(:title)} | " : ""}osyoyu.com/breakpoint"

  %body
    %header.site-header
      = link_to entries_path do
        .logotype
          %span.osyoyucom> osyoyu.com/
          %span.breakpoint breakpoint

    %main
      = yield

    %footer.site-footer
      .ruby-description
        = RUBY_DESCRIPTION
