!!! 5
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: "stylesheet", href: "/blog-style.css"}
    %link{rel: "stylesheet", href: "https://unpkg.com/prismjs@v1.29.0/themes/prism-tomorrow.min.css"}

    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@osyoyu"}
    %meta{name: "twitter:title", content: content_for?(:title) ? content_for(:title) : "osyoyu.com/blog"}

    %meta{name: "og:type", content: "article"}
    %meta{name: "og:title", content: content_for?(:title) ? content_for(:title) : "osyoyu.com/blog"}
    %meta{name: "og:description", content: content_for?(:title) ? content_for(:title) : "osyoyu.com/blog"}
    %meta{name: "og:site_name", content: "osyoyu.com/blog"}
    %meta{name: "og:url", content: request.original_url}

    %link{rel: "author", href: "http://www.hatena.ne.jp/tomo_ari/"}

    %script{src: "https://unpkg.com/prismjs@v1.29.0/components/prism-core.min.js", defer: "defer"}
      :plain

    %script{src: "https://unpkg.com/prismjs@v1.29.0/plugins/autoloader/prism-autoloader.min.js", defer: "defer"}
      :plain

    = render 'cloudflare_web_analytics'

    - if content_for?(:head)
      = content_for(:head)

    %title= "#{content_for?(:title) ? "#{yield(:title)} - " : ""}osyoyu.com/blog"

  %body
    %header.site-header
      = link_to root_path do
        .logotype
          %object{data: "/blog-logotype.svg", type: "image/svg+xml", aria: {label: "osyoyu.com/blog"}}
            osyoyu.com/blog

    %main
      = yield

    %footer.site-footer
      .ruby-description
        %div= RUBY_DESCRIPTION
        %div= "rails #{Rails::VERSION::STRING}"
      .privacy-notice
        This site uses Cloudflare Analytics.
