!!! 5
%html{lang: "ja"}
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: "stylesheet", href: "/blog-style.css"}
    %link{rel: "author", href: "http://www.hatena.ne.jp/tomo_ari/"}
    - if content_for?(:head)
      = content_for(:head)
    %title= "#{content_for?(:title) ? "#{yield(:title)} | " : ""}osyoyu.com/blog"

  %body
    %header.site-header
      = link_to entries_path do
        .logotype
          %span.osyoyucom> osyoyu.com/
          %span.blog blog

    %main
      = yield

    %footer.site-footer
      .ruby-description
        = RUBY_DESCRIPTION
